doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') HOME
    &nbsp;
    a(href='/register_article') REGISTER ARTICLE
    hr
    
    block content
